/* Gif - START */

/* --project-img-size ( check global ) */
.gifContainer {
    overflow: hidden;
    width: calc(var(--project-img-size) * 1rem);
    height: calc(var(--project-img-size) * 0.56rem);
    position: relative;
    /* border: 1px solid red; */
}

.static {
    position: absolute;
    z-index: 99;
    aspect-ratio: 135/76;
    top: 0;
    left: 0;
    width: calc(var(--project-img-size) * 1rem);
    height: calc(var(--project-img-size) * 0.56rem);
    transition: all 200ms ease
}

.dynamic {
    position: absolute;
    z-index: 0;
    aspect-ratio: 135/76;
    top: 0;
    left: 0;
    width: calc(var(--project-img-size) * 1rem);
    height: calc(var(--project-img-size) * 0.56rem)
}

.static:hover {
    opacity: 0;
}

/* Gif - END */

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 3rem;
    width: 100vw;
}

.iconsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 768px;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: all 200ms ease-out
}

.link:hover {
    transform: scale(1.25);
    filter: drop-shadow(0 0 10px rgb(164, 164, 164))
}

.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .link:hover {
        filter: drop-shadow(0 0 10px white)
    }
}

@media (max-width: 500px) {
    .mainContainer {
        position: relative;
        right: 3rem;
        width: fit-content;
    }
}