/* Gif - START */

/* --project-img-size ( check global ) */
.gifContainer {
    overflow: hidden;
    width: calc(var(--project-img-size) * 1rem);
    height: calc(var(--project-img-size) * 0.56rem);
    position: relative;
}

.static {
    position: absolute;
    z-index: 99;
    aspect-ratio: 135/76;
    top: 0;
    left: 0;
    width: calc(var(--project-img-size) * 1rem);
    height: calc(var(--project-img-size) * 0.56rem);
    transition: all 200ms ease
}

.dynamic {
    position: absolute;
    z-index: 0;
    aspect-ratio: 135/76;
    top: 0;
    left: 0;
    width: calc(var(--project-img-size) * 1rem);
    height: calc(var(--project-img-size) * 0.56rem)
}

.static:hover {
    opacity: 0;
}

/* Gif - END */

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    cursor: -webkit-grab;
    cursor: grab;
    padding: 3rem;
}

.iconsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 768px;
}

.textContainer>* {
    white-space: pre-wrap;
}

.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media (min-width: 640px) and (orientation: landscape) and (max-width: 1024px) and (pointer: coarse) {
    .mainContainer {
        height: 200vh
    }
  }
  

@media (prefers-color-scheme: dark) {
    .link:hover {
        -webkit-filter: drop-shadow(0 0 10px white);
        filter: drop-shadow(0 0 10px white)
    }
}