/* Buttons - START */
.next,
.prev {
    top: calc(50% - 20px);
    position: absolute;
    background: black;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
    color: white;
    opacity: 0.3;
    transition: all 200ms ease;
}

.next {
    right: 5px;
    transform: scale(0.5)
}

.prev {
    left: 5px;
    transform: scale(-0.5);
}

.next:hover,
.prev:hover {
    opacity: 1;
}

.next:hover {
    right: 10px;
    transform: scale(1)
}

.prev:hover {
    left: 10px;
    transform: scale(-1);
}

/* Button - END */

.main {
    position: relative;
    height: 100vh;
}

.swipeHint {
    -webkit-animation: swipeHint 2s ease 0.5s;
    animation: swipeHint 2s ease 0.5s;
}

.swipeIcon {
    width: 10rem;
    position: absolute;
    z-index: 100;
    -webkit-animation: swipeGesture 2s ease 0.5s;
    animation: swipeGesture 2s ease 0.5s;
    transform-origin: top center;
    right: 5rem;
    bottom: 12rem;
    opacity: 0;
}

@-webkit-keyframes swipeGesture {

    0%,
    100% {
        transform: translateX(0), rotate(0);
    }

    75% {
        transform: translateX(-15rem) rotate(-10deg);
        opacity: 1;
    }
}

@keyframes swipeGesture {

    0%,
    100% {
        transform: translateX(0), rotate(0);
    }

    75% {
        transform: translateX(-15rem) rotate(-10deg);
        opacity: 1;
    }
}

@-webkit-keyframes swipeHint {

    0%,
    100% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-5rem)
    }
}

@keyframes swipeHint {

    0%,
    100% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-5rem)
    }
}