.main {
    position: relative;
    height: auto;
}

.swipeHint {
    -webkit-animation: swipeHint 2s ease 1s;
    animation: swipeHint 2s ease 1s;
}

.swipeIcon {
    width: 10rem;
    position: absolute;
    z-index: 100;
    -webkit-animation: swipeGesture 2s ease 1s;
    animation: swipeGesture 2s ease 1s;
    transform-origin: top center;
    right: 5rem;
    bottom: 12rem;
    opacity: 0;
}


@-webkit-keyframes swipeGesture {

    0%,
    100% {
        transform: translateX(0), rotate(0);
    }

    75% {
        transform: translateX(-15rem) rotate(-10deg);
        opacity: 1;
    }
}

@keyframes swipeGesture {

    0%,
    100% {
        transform: translateX(0), rotate(0);
    }

    75% {
        transform: translateX(-15rem) rotate(-10deg);
        opacity: 1;
    }
}

@-webkit-keyframes swipeHint {

    0%,
    100% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-5rem)
    }
}

@keyframes swipeHint {

    0%,
    100% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-5rem)
    }
}