:root {
  --project-img-size: 35;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100vh;
}

.hidden {
  display: none;
}

.gray {
  filter: grayscale(1) opacity(0.5)
}

.icon {
  opacity: 1;
  transition: width 1s ease, opacity 10s ease
}

.loading {
  opacity: 0
}


@media(prefers-color-scheme: dark){
  html {
    background-color: rgba(13,17,23,255);
    color-scheme: dark;
  }
  .invert {
    filter: invert(1);
  }
}

@media(max-width: 768px) {
  :root {
    --project-img-size: 25;
  }
}