.profile {
    object-fit: contain;
    width: 50%;
    height: 50%;
    border: 1px solid red;
    margin: auto 0;
}

@media(prefers-color-scheme: dark) {
    .profile {
        filter: invert(1);
    }
}