.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 768px;
    margin: 0 auto;
    transition: all 2s ease;
    box-shadow: inset 0px 0px 32px 11px rgba(67, 67, 67, 0.75);
    padding: 1rem;
    overflow: hidden;
    height: 0;
    margin-bottom: 2rem;
    width: 0;
    border-radius: 10px;
}

.visible {
    height: auto;
    width: 100%;
}

.notClickable {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
    transform: translateY(10rem);
}

.box {
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
}

/* Do not merge with .box */
.moveBox {
    transform: translateY(-4.5rem);
}

.ping {
    -webkit-animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@-webkit-keyframes ping {

    75%,
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

@keyframes ping {

    75%,
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .icons {
        background-color: aliceblue;
        box-shadow: inset 0px 0px 32px 11px rgba(25, 25, 25, 0.75);
    }
}

@media (min-width: 900px) {
    .visible {
        height: 70vh
    }
}