.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/contact/contactBg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 27px -2px rgba(0, 0, 0, 0.75);
    background-position: center;
}

.container h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.iconsContainer {
    display: flex;
    gap: 1rem;
    width: 10rem;
}

.iconsContainer svg {
    transition: all 200ms ease;
}

.iconsContainer svg:hover {
    scale: 0.9;
}

.iconsContainer svg:active {
    scale: 0.8;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.textField {
    position: relative;
    margin-bottom: 16px;
}

.textField label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 4px 12px;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 200ms ease;
}

.textField textarea,
.textField input {
    resize: none;
    width: clamp(200px, 25vw, 768px);
    height: 5vh;
    border: 1px solid rgba(0, 0, 0, 0.23);
    outline: none;
    padding: 12px;
    border-radius: 10px;
    transition: all 200ms ease;
}

.textField textarea:hover,
.textField input:hover {
    border-color: inherit;
}

.textField input:focus {
    outline: none;
}

/* On focus and when there is no placeholder shown */
.textField textarea:focus,
.textField textarea:not(:placeholder-shown) {
    width: clamp(300px, 50vw, 768px);
    height: 25vh;
}

.textField input:focus+label,
.textField input:not(:placeholder-shown)+label {
    transform: translate(-10%, -225%) scale(0.75);
    padding: 0 4px;
}

@media (min-width: 768px) {

    .textField textarea:focus,
    .textField textarea:not(:placeholder-shown) {
        height: 30vh;
    }
}

@media (max-width: 450px) {
    .textField label {
        font-size: small;
    }
}